* {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  text-decoration: underline;
  margin-left: 30px;
  padding-top: 0px;
}

body {
  background-color: #C3F7AB;
  font-family: Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.header {
  justify-content: space-between;
  display: flex;
  background-color: #627237;
  border-radius: 30px;
  margin-top: 1px;
  margin-bottom: 10px;
}
.nav {
  display: flex;
}

a:link {
  color: black;
  font-family: "OCR A Std", monospace;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

a:active {
  color: red;
}

.box {
  display: flex;
  color: rgb(0, 0, 0);
  background-color: #627237;
  margin-bottom: 40px;
  border-radius: 30px;
  height: 400px;
  font-size: 30px;

}

.box img {
  height: 400px;
  width: 400px;
  border-radius: 30px;
}

body {
  background-color: black;
}

@media only screen and (max-width: 1033px) {
  body {
    background-color: #C3F7AB;
    font-size: 30px;
  }
  h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1033px) {
  .gmail {
    height: 200px;
  }
}

@media screen and (max-width: 1032px) {
  div.box {
    font-size: 25px;
  }
}

@media screen and (max-width: 920px) {
  div.box {
    font-size: 20px;
  }
}

@media screen and (max-width: 756px) {
  div.box {
    font-size: 15px;
  }
}